
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <div class="container">



        <div class="sidebar">

            <nav>
                <ul>
                    <li><a href="/CVProject/Index">Home</a></li>
                    <li><a href="/CVProject/About">My Intro</a></li>
                    <li><a href="/CVProject/Services">Services</a></li>
                    <li><a href="/CVProject/Contact">Contact</a></li>
                    <li><a href="/CVProject/Skill">Skill</a></li>
                    <li><a href="/CVProject/Education">Education</a></li>

                </ul>
            </nav>
        </div>
        <div class="main">
           
        </div>

    </div>

</body>
</html>
