
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <div class="container">



        <div class="sidebar">

            <nav>
                <ul>
                    <li><a href="/CVProject/Index">Home</a></li>
                    <li><a href="/CVProject/About">My Intro</a></li>
                    <li><a href="/CVProject/Services">Services</a></li>
                    <li><a href="/CVProject/Contact">Contact</a></li>
                    <li><a href="/CVProject/Skill">Skill</a></li>
                    <li><a href="/CVProject/Education">Education</a></li>

                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="contactform">
                <h2>Contact with me for work/general Enquiries</h2>
                <form>

                    <div class="form-group">
                        <label for="clientemail">Email address</label>
                        <input type="email" class="form-control" id="clientemail" aria-describedby="emailHelp" placeholder="Enter email">

                    </div>
                    <div class="form-group">
                        <label for="clientephone">Phone Number</label>
                        <input type="text" class="form-control" id="clientephone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="clientemail">Enquiry</label>
                        <input type="email" class="form-control" id="clientemail" aria-describedby="emailHelp" placeholder="enquiry">

                    </div>
                    <div class="form-check" id="form-check">
                        <input type="checkbox" class="form-check-input" id="isclient">
                        <label class="form-check-label" for="isclient">I want you to work on a project with me</label>
                    </div>

                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                    
                </form>
            </div>
        </div>

    </div>
</body>
</html>
